@model cafeteriaweb.Models.facturas

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>facturas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fecha_venta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_venta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.monto_articulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.monto_articulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.comentario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comentario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.articulos.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.articulos.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.empleados.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.empleados.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usuarios.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuarios.nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
